.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #167db7;
  box-shadow: 32px 0 #167db7, -32px 0 #167db7;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #5ca4cd;
    box-shadow: 32px 0 #5ca4cd, -32px 0 #167db7;
  }
  50% {
    background-color: #167db7;
    box-shadow: 32px 0 #5ca4cd, -32px 0 #5ca4cd;
  }
  100% {
    background-color: #5ca4cd;
    box-shadow: 32px 0 #167db7, -32px 0 #5ca4cd;
  }
}
